.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
}

.login-box h2 {
  font-weight: 600;
}

.login-box h6{
  padding-top: 15px;
}

.user-box {
  padding-top: 10px;
  text-align: center;
  width: 300px;
}

.user-button {
  padding-top: 20px;
  text-align: center;
}

.user-button a {
  width: 150px;
  height: 40px;
}

