.navBar {
    
    background: #212529;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.round {
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}
