/* .productThumb{
    width:100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 10px;
    padding: 15px;
}

.text-g{
    text-decoration: none;
}

.button{
    margin-left: 60px;
}
.button:hover{
    background-color: rgb(85, 96, 245) !important ;
    color: #fff !important;
}
.productThumb .title{
    margin: 10px 0px;
}
.productThumb .title a{
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.price{
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
} */


/* --------------------------------------------------------------- */
/* CardCarousel.css */
.cardCarousel1 {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 20px;
  }
  
  .card1 {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card1 img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card1 h3 {
    margin-top: 0;
  }

  .price{
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
}
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .add-to-cart-btn,
  .wishlist-btn {
    padding: 5px;
    cursor: pointer;
  }
  
  /* You can add additional styling as needed */
  